/* style.css */
/* Modifié par Mathieu Fournier */
/* Depuis le 23 janvier 2014 */

/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

.compare_plan{
    width: 100%;
}
.compare_plan td{
    padding:0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tableInscription {
    margin: auto;
    margin-top: 50px;
    align-content: center;
    text-align: center;
}

    .tableInscription td span {
        float: right;
        padding-right: 10px;
    }

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

.txt-lt {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.clear {
    clear: both;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.vertical-base {
    vertical-align: baseline;
}

.vertical-top {
    vertical-align: top;
}

.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

nav.vertical ul li {
    display: block;
}

nav.horizontal ul li {
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background: #ffffff;
}

.full-container {
    min-height: 100%;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    transition: all 0.2s linear;
}

.header_top {
    padding: 3px 0;
    border-bottom: 2px solid #923D5A;
    position: fixed;
    z-index: 1;
    width: 100%;
    clear: both;
    background: #FFF;
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin: 3px 0;
}

    .menu li {
        display: inline-block;
    }

        .menu li a {
            display: block;
            font-size: 1em;
            font-weight: 500;
            margin: 5px 15px;
            color: #222;
            transition: all 0.5s ease;
        }

            .menu li a:hover {
                color: #923D5A;
            }

        .menu li.login a:active {
        }

.menuSecondaire{
    float:left;
    margin-left:2em;
}
.menuSecondaire li { display: inline-block;}
.menuSecondaire li img { width:50px; height:50px;}

#loginContainer {
    position: relative;
}

    #loginContainer a span {
        display: block;
        padding: 4px 25px;
    }

#loginButton {
    display: inline-block;
    position: relative;
    z-index: 30;
    cursor: pointer;
}

#loginBox {
    position: absolute;
    top: 60px;
    right: 10px;
    display: none;
    z-index: 29;
}

#loginForm:after {
    content: '';
    position: absolute;
    right: 40px;
    top: -10px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #D0BEC6;
}

#loginForm {
    width: 248px;
    border-radius: 3px 0 3px 3px;
    margin-top: 0;
    background: #D0BEC6;
    border: #D0BEC6 solid 1px;
}

    #loginForm fieldset {
        margin: 0 0 10px 0;
        display: block;
        border: 0;
        padding: 0;
    }

fieldset#body {
    border-radius: 3px;
    padding: 15px 15px;
    margin: 0;
}

#body label {
    color: #FFF;
    margin: 10px 0 0 0;
    display: block;
    float: left;
    font-size: 0.8em;
}
#loginForm #login:hover {
	background:#57229B;
}
#loginForm #body fieldset label {
    display: block;
    float: none;
    margin: 0 0 6px 0;
}

#body label i {
    color: #111111;
    text-shadow: 1px 1px #929292;
    font-weight: 500;
}

#loginForm input {
    width: 92%;
    border: #DADADA solid 1px;
    color: #222;
    background: #FFF;
    padding: 8px 8px;
    font-size: 0.85em;
    font-family: 'Roboto', sans-serif;
}

#loginForm span {
    display: block;
    padding: 0 0 15px 0;
}

    #loginForm span a {
        color: #111111;
        text-shadow: 1px 1px #929292;
        font-size: 0.8em;
        font-weight: 500;
        background: none;
        border: none;
        box-shadow: none;
    }

        #loginForm span a:hover {
            text-decoration: underline;
        }

input:focus {
    outline: none;
}

.main {
    background: #FFF;
}

#commentaires{
    border-top:2px solid #923D5A;
    padding-top:5px;
}

#GridCommentaires{
margin-top:10px;
margin-bottom:10px;
}

.table_avec_hover , .table_sans_hover { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 100%;
margin: 25px 0px; 
border:1px solid black;
border-spacing: 0; 
}

.table_avec_hover td, th , .table_sans_hover td, th { 
border: 1px solid transparent; 
height: 30px; 
transition: all 0.3s; 
}

.table_avec_hover th , .table_sans_hover th {
background: #DFDFDF; 
font-weight: bold;
padding-left:10px;
padding-right:10px;
}

.table_avec_hover td , .table_sans_hover td {
background: #FAFAFA;
text-align: center;
}

.table_avec_hover tr:nth-child(even) td  , .table_sans_hover tr:nth-child(even) td { background: #F1F1F1; }   
.table_avec_hover tr:nth-child(odd) td , .table_sans_hover tr:nth-child(odd) td { background: #FEFEFE; }  
.table_avec_hover tr td:hover { background: #333; color: #FFF; } 
.table_avec_hover .nom , .table_sans_hover .nom{ width:15%; }
.table_avec_hover .date , .table_sans_hover .date{ width:15%; }
.table_avec_hover .commentaire, .table_sans_hover .commentaire{ width:70%; }



.table_imbriquee { 
color: #DDD;
font-family: Helvetica, Arial, sans-serif;
width: 100%;
margin: 25px 0px; 
border:1px solid black;
border-spacing: 0; 
}

.table_imbriquee a:link {color:#c70;}      /* unvisited link */
.table_imbriquee :visited {color:#A00;}  /* visited link */
.table_imbriquee a:hover {color:#930;}  /* mouse over link */
.table_imbriquee a:active {color:#600;}  /* selected link */

.table_imbriquee td, th { 
border: 1px solid transparent; 
height: 30px; 
transition: all 0.3s; 
}

.table_imbriquee th {
color:#FFF;
background: #444; 
font-weight: bold;
padding-left:10px;
padding-right:10px;
}

.table_imbriquee td {
background: #FAFAFA;
text-align: center;
}

.table_imbriquee tr:nth-child(even) td { background: #5F5F5F; }   
.table_imbriquee tr:nth-child(odd) td{ background: #6E6E6E; }  
.table_imbriquee tr td:hover { background: #333; color: #FFF; } 
.table_imbriquee .nom { width:15%; }
.table_imbriquee .date { width:15%; }
.table_imbriquee .commentaire{ width:70%; }


.content_top {
    position: relative;
    background: #923D5A;
}

.banner_desc {
    float: left;
    width: 62%;
    padding: 10em 0 3em 0;
    text-align: center;
    color: #FFF;
    font-weight: 300;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
    font-family: 'Roboto', sans-serif;
}

    .banner_desc h1 {
        font-size: 3em;
    }

        .banner_desc h1 span {
            font-weight: bold;
        }

    .banner_desc h3 {
        font-size: 1.4em;
        margin-top: 10px;
    }

    .banner_desc a.play_icon {
        display: block;
        padding: 15px 0 10px 0;
    }

    .banner_desc h3 span {
        font-weight: bold;
    }

    .banner_desc p {
        font-size: 0.9em;
        font-style: italic;
        padding-top: 3px;
    }

.sign_up {
    margin-top: 2.5em;
}

    .sign_up input[type="text"] {
        padding: 6px 10px 9px;
        width: 300px;
        margin: 0;
        border: #6B36AF solid 1px;
        background: #FFF;
        font-size: 1em;
        color: #9E9E9E;
        outline: none;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0 0 5px #6B36AF;
    }

        .sign_up input[type="text"]:focus {
        }

    .sign_up input[type="submit"]:active {

    }

.ipad {
    float: right;
    width: 37%;
    margin-bottom: -10em;
    padding-top: 10em;
}

    .ipad img {
        display: block;
    }

.features {
    background: #FFF;
    padding: 5em 0 1em 0;
    text-align: center;
}

    .features h2, .dashborder_img h2, .content_bottom h2 {
        font-size: 3em;
        color: #222;
        padding: 10px 0;
        font-weight: 300;
    }

        .features h2 span, .dashborder_img h2 span, .content_bottom h2 span {
            color: #222;
        }

        .features h2 span .spanOPlus, .dashborder_img h2 span, .content_bottom h2 span {
            font-weight: bold;
            color: #923D5A;
        }

    .features h4, .dashborder_img h4, .content_bottom h4 {
        font-size: 1.5em;
        color: #222;
        font-weight: 300;
    }

        .features h4 span, .dashborder_img h4 span, .content_bottom h4 span {
            color: #222;
        }

.features_grids {
    margin-top: 3em;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.grid_1_of_4 {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

    .grid_1_of_4:first-child {
        margin-left: 0;
    }

.images_1_of_4 {
    width: 23.8%;
    padding: 1.5% 0;
    text-align: center;
}

    .images_1_of_4 img {
        max-width: 100%;
    }

    .images_1_of_4 h3 {
        font-size: 1.2em;
        color: #222;
        font-weight: 600;
        padding-top: 20px;
    }

        .images_1_of_4 h3 span {
            color: #d4d4d4;
        }

    .images_1_of_4 p {
        font-size: 1em;
        color: #222;
        text-align: center;
        margin: 0 auto;
        padding: 10px 0;
        width: 90%;
        line-height: 1.6em;
    }

.button {
    text-align: center;
    margin-top: 2em;
}

    .button a img {
        vertical-align: middle;
        margin-bottom: 2px;
    }

.dashborder_img {
    padding: 6em 0 4em 0;
    text-align: center;
    background: #FAFAFA;
    box-shadow: 0 0 10px #EBEBEB inset;
}

    .dashborder_img img {
        margin-top: 2em;
    }

.content_bottom {
    padding: 5em 0 3em 0;
    text-align: center;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.grid_1_of_3 {
    display: block;
    float: left;
    margin: 2% 0 1% 1.6%;
}

    .grid_1_of_3:first-child {
        margin-left: 0;
    }

.grid_1_of_3 .testimonials_align{
    height:inherit;
}

.images_1_of_3 {
    width: 29.2%;
    padding: 1.5%;
}

    .images_1_of_3 img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        padding: 5px;
        box-shadow: 0 0 5px #CCC;
        border-radius: 10em;
        bottom:0px;
    }

    .images_1_of_3 h3 {
        font-size: 1.3em;
        font-weight: 600;
        padding-top: 20px;
    }

        .images_1_of_3 h3 a {
            color: #3F3F3F;
            transition: all 0.3s ease-out;
        }

            .images_1_of_3 h3 a:hover {
                color: #252525;
            }

    .images_1_of_3 h5 {
        font-size: 1em;
        color: #222;
        padding-top: 5px;
    }

.customer_desc {
    height:450px;
    margin: 10%;
    box-shadow: 0 0 5px #A5A5A5;
    border-radius: 1em;
    margin-bottom: 3em;
    position: relative;
}

    .customer_desc p {
        font-size: 1em;
        color: #131313;
        line-height: 2em;
        padding: 15%;
    }

    .customer_desc span.quotes {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
    }

    .customer_desc span.up {
        background: url(/Medias/Commun/quotes.png) left no-repeat;
        left: 1em;
        top: 1em;
    }

    .customer_desc span.down {
        background: url(/Medias/Commun/quotes.png) right no-repeat;
        right: 1em;
        bottom: 2em;
    }

    .customer_desc span.testimonial-arrow {
        width: 55px;
        height: 20px;
        display: inline-block;
        background: url(/Medias/Commun/testimonial.png) no-repeat;
        position: absolute;
        left: 7em;
        bottom: -18px;
    }

.footer-site{
    background-color: #A6Cf00;
}

.footer {
    padding: 15px 0;
    background: #222222;
    background-image: url(/Medias/Commun/footer-pattern.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.col_1_of_4 {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

    .col_1_of_4:first-child {
        margin-left: 0;
    }

.span_1_of_4 {
    width: 20.8%;
    padding: 1.5%;
}

    .span_1_of_4 h3 {
        color: #FFF;
        font-size: 1.4em;
        padding-bottom: 15px;
    }

.list li a {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding: 6px 0;
    color: #CCC;
    transition: all 0.3s ease-out;
}

    .list li a:hover {
        color: #FFF;
    }

.social-icons {
    margin-top: 2em;
}

    .social-icons li a img {
        vertical-align: middle;
        padding-right: 5px;
        opacity: 0.699999988079071044921875;
    }

.list li a:hover > img {
    opacity: 1;
}

.copy_right {
    padding: 20px 0;
    text-align: center;
    background: #A6CF00;
}

    .copy_right p {
        font-size: 1em;
        color: #923D5A;
    }

        .copy_right p a {
            color: #FFF;
        }

            .copy_right p a:hover {
                text-decoration: underline;
            }

@media only screen and (max-width:1366px) {
    .wrap {
        width: 90%;
    }
}

@media only screen and (max-width:1280px) {
    .wrap {
        width: 90%;
    }

    .ipad {
        padding-top: 12em;
    }
}

@media all and (max-width:800px) {
    .wrap {
        width: 95%;
    }

    .menu li a {
        font-size: 0.85em;
        margin: 5px 6px;
    }

    .menu li.login a {
        padding: 4px 20px;
    }

    .banner_desc h1 {
        font-size: 2.5em;
    }

    .banner_desc a.play_icon {
        padding: 0;
    }

    .sign_up input[type="text"] {
        width: 250px;
    }

    .sign_up input[type="submit"] {
        padding: 7px 25px;
    }

    .sign_up {
        margin-top: 1.5em;
    }

    .ipad {
        padding-top: 15em;
    }

    .features {
        padding: 6em 0 4em 0;
    }
}

@media all and (max-width:768px) {
    .wrap {
        width: 95%;
    }

    .ipad {
        padding-top: 16em;
        margin-bottom: -7em;
    }
}

@media all and (max-width:640px) {
    .wrap {
        width: 95%;
    }

    .menu {
        margin: 8px 0;
    }

    .banner_desc {
        padding: 8em 0 3em 0;
    }

        .banner_desc h1 {
            font-size: 2em;
        }

        .banner_desc h3 {
            font-size: 1em;
            margin-top: 0;
        }

    .sign_up input[type="text"] {
        width: 200px;
    }

    .sign_up input[type="submit"] {
        padding: 7px 20px;
    }

    .ipad {
        margin-bottom: -5em;
    }

    .grid_1_of_4, .grid_1_of_3, .col_1_of_4 {
        margin: 0;
    }

    .images_1_of_4, .images_1_of_3, .span_1_of_4 {
        width: 94%;
        padding: 3%;
    }

        .images_1_of_4 h3 {
            padding-top: 0;
        }

    .features {
        padding: 4em 0;
    }

        .features h2, .dashborder_img h2, .content_bottom h2 {
            font-size: 2.5em;
        }

        .features h4, .dashborder_img h4, .content_bottom h4 {
            font-size: 1.2em;
        }

    .features_grids {
        margin-top: 0;
    }

    .images_1_of_4 p {
        width: 60%;
    }

    .customer_desc span.testimonial-arrow {
        left: 12em;
    }
}

@media all and (max-width:480px) {
    .wrap {
        width: 95%;
    }

    .header_top {
        padding: 0 0;
    }

    .menu {
        margin: 0 0 8px 0;
    }

    .logo {
        float: none;
        text-align: center;
    }

    .banner_desc {
        float: none;
        width: 100%;
    }

    .menu {
        float: none;
        text-align: center;
    }

        .menu li a {
            margin: 5px 10px;
        }

    .ipad {
        width: 100%;
        text-align: center;
        margin-bottom: -10em;
        padding-top: 0;
    }

    .features {
        padding: 8em 0 4em 0;
    }

        .features h2, .dashborder_img h2, .content_bottom h2 {
            font-size: 2em;
        }

    .customer_desc span.testimonial-arrow {
        left: 8em;
    }

    .copy_right p {
        font-size: 0.85em;
        line-height: 1.8em;
    }

    .images_1_of_4 p {
        width: 100%;
    }
}

@media all and (max-width:320px) {
    .wrap {
        width: 95%;
    }

    .menu li a {
        margin: 0 4px 5px 4px;
        font-size: 0.8em;
    }

    .banner_desc {
        padding: 10em 0 0 0;
    }

        .banner_desc h1 {
            font-size: 1.6em;
        }

    .sign_up input[type="text"] {
        width: 160px;
    }

    .sign_up input[type="submit"] {
        font-size: 0.85em;
        margin-left: 5px;
    }

    .ipad {
        padding-top: 1em;
        margin-bottom: -6em;
    }

    .features {
        padding: 4em 0 2em 0;
    }

        .features h2, .dashborder_img h2, .content_bottom h2 {
            font-size: 1.6em;
        }

        .features h4, .dashborder_img h4, .content_bottom h4 {
            font-size: 1em;
        }

    .images_1_of_4 h3 {
        padding-top: 0;
    }

    .customer_desc {
        margin: 2em 0;
    }

        .customer_desc span.testimonial-arrow {
            left: 7em;
        }
}