<div id="small-dialog" class="mfp-hide">
	<div>
		<table class="compare_plan">
			<tr>
				<td>En magasin</td>
				<td>37 rue Notre Dame Ouest</td>
			</tr>
			<tr>
				<td></td>
				<td>Victoriaville (Québec) G6P 1R6</td>
			</tr>
			<tr>
				<td>Par téléphone</td>
				<td>1 819-751-1221</td>
			</tr>
			<tr>
				<td>Par télécopieur</td>
				<td>1 819 751-0481</td>
			</tr>
			<tr>
				<td>Téléphone d'urgence</td>
				<td>1 819-460-4263</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>Par email</td>
				<td><a href="Contact.aspx">info@orthonomieplus.com</a></td>
			</tr>
		</table>
	</div>

</div>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

	});
</script>
<footer class="site-footer">
	<div class="footer">
		<div class="wrap">
			<div class="section group example">
				<div class="col_1_of_4 span_1_of_4 list">
				</div>
				<div class="col_1_of_4 span_1_of_4 list">
					<h3>Nos Partenaires</h3>
					<ul>
						<li><a href="#">À remplir 1</a></li>
						<li><a href="#">À remplir 2</a></li>
						<li><a href="#">À remplir 3</a></li>
						<li><a href="#">À remplir 4</a></li>
						<li><a href="#">À remplir 5</a></li>
					</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4 list">
					<h3>Contactez nous</h3>
					<ul>
						<li><a>1 819-751-1221</a></li>
						<!-- le a est seulement pour appliquer correctement le style -->
						<li><a href="#">info@orthonomieplus.com</a></li>
					</ul>
					<div class="social-icons">
						<h3>Suivez-nous!</h3>
						<ul>
							<li><a href="https://www.facebook.com/pages/Orthonomie-Plus-Inc/276028765747831" target="_blank">
								<img src="Medias/Commun/facebook.png" alt="" />
								Facebook</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy_right">
			<div class="wrap">
				<p>© {{ page.date| date: "%m-%d-%Y" }} Programmation IcyCode Inc. Maquette par <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
		</div>
	</div>
</form>
</footer>
