<header>

	<form id="form1" runat="server">
		<div class="full-container">
			<div class="header" id="accueil">
				<div class="header_top">
					<div class="wrap">
						<div class="logo">
							<a href="/">
								<img src="{{ site.baseurl }}/Medias/Commun/logo.png" alt="" />
							</a>
						</div>
                <div class="menu">
                    <ul>
                        <!--<li><a href="/">Accueil</a></li>-->
                        <li><a class="popup-with-zoom-anim" href="#small-dialog">Nous joindre</a></li>
                    </ul>
                </div>
					</div>
				</div>
			</div>
</header>
